@import "tailwindcss";

:root {
  /* tailwind colors */
  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-gray-950: oklch(13% 0.028 261.692);

  /* 基本色 */
  --color-bg: #ffffff;
  --color-text: var(--color-gray-800);
  --color-text-muted: var(--color-gray-300);

  /* サイドバー */
  --color-sidebar-bg: var(--color-gray-700);

  /* ボタン */
  --color-button-bg: var(--color-gray-800);
  --color-button-bg-hover: var(--color-gray-600);

  /* ボーダー */
  --color-border: var(--color-gray-300);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(13% 0.028 261.692); gray-900
    --foreground: #ededed;
  }
} */

@theme inline {
  /* 基本色 */
  --color-bg: #ffffff;
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);

  /* サイドバー */
  --color-sidebar-bg: var(--color-sidebar-bg);
  /* ボタン */
  --color-button-bg: var(--color-button-bg);
  --color-button-bg-hover: var(--color-button-bg-hover);

  /* ボーダー */
  --color-border: var(--color-border);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
